{% extends "base.html" %}

{% block content %}
<form action="" method="post">
<div class="input-group mb-3" style="padding-top: 10px">

    <input type="text" class="form-control" placeholder="IP" aria-label="IP" aria-describedby="basic-addon2" name="ip">
    <div class="input-group-append">
      <button type="submit" class="btn btn-primary">+</button>
    </div>

</div>
</form>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">IP</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for j in range(lenght) %}
    <tr>
      <th scope="row">{{ j + 1 }}</th>
      <td>{{ data[keys[j]] }}</td>
      <td><a href="/del_ip/{{keys[j]}}"><button class="btn btn-danger">Delete</button></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
